@tailwind base;
@tailwind components;
@tailwind utilities;

/* Below is the navbar css for the hamburger menu */
.hamburger-menu {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.line {
  display: block;
  width: 100%;
  height: 0.09rem;
  background-color: #930909;
  transition: transform 0.3s ease;
}

/* When the 'open' class is added to 'hamburger-menu', apply these transformations */
.hamburger-menu.open .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.open .line2 {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 400px) {
  /* Styles will go here like this shadow-inner for smaller mobile screens */
  .shadow-inner {
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
  }
}

/* Text stroke for the hero section */
.text-stroke {
  -webkit-text-stroke: 0.5px black; /* Adjusted width */
  color: white; /* text color */
}

.text-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
